* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	height: 100%
}

body {
	width: 100%;
	margin: 0 auto;
	color: #787878;
	font-family: Verdana
}

main {
	width: 100%
}

section {
	width: 1000px;
	min-height: 407px;
	margin: 0 auto
}

a {
	color: #C6C7C9;
	text-decoration: none
}

a:hover {
	color: #FFF
}

hr {
	height: 1px;
	background-color: #787878;
	border: none;
	border-top: 1px solid #000
}

.categorie {
	width: 100%;
	background-color: #FFF
}

.categorie_center {
	width: 1000px;
	min-height: 90px;
	margin: 0 auto;
	background-color: #FFF;
	line-height: 90px
}

.categorie_title {
	margin: 0;
	font-family: "Lucida Grande";
	font-weight: 700;
	font-size: 30px;
	color: #066F00;
}

.footer {
	width: 100%;
	height: 60px;
	background-color: #232323;
	font-size: 11px;
	line-height: 60px;
	clear: both
}

.header {
	width: 100%;
	height: 150px;
	background-color: #FFF
}

.header_center {
	width: 1200px;
	height: 100px;
	margin: 0 auto
}

.header_logo {
	float: left;
	width: 840px;
	height: 100px;
	background-color: #FFF
}

.header_logo_lien {
	display: block;
	padding-left: 2px
}

.header_image {
	height: 100px
}

.header_menu {
	width: 100%;
	background-color: #1C2329;
}

.header_menu_center {
	width: 1000px;
	margin: 0 auto;
	background-color: #066F00;
}

.header_menu_list {
	margin: 0;
	padding: 0;
	height: 50px;
	background-color: #1C2329;
	list-style-type: none
}

.header_menu_item {
	display: inline-block;
	line-height: 47px;
}

* /

 .header_menu_item a {
	padding: 18px 12px 14px;
	font-size: 12px;
	font-weight: 700;
	color: #C6C7C9;
	text-decoration: none;
}

.header_menu_item a:hover,.header_menu_item_link_active {
	border-bottom: 3px solid #066F00;
	color: #FFF !important
}

.body {
	height: 100%;
	margin: 0;
	padding: 0;
}